extends layout

block content
  .comment-content
    h1(class='comment-title')= title

    form(method='POST' action='' class='comment-form')
      label(for='text') Text:
      textarea#text.form-control(name="text", cols="30", rows="10", value=(undefined===comment? '' : comment.text)) 
      input#postid.form-control(type='hidden' name='postid' required='true' value=post._id )
      button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        for error in errors
          li!= error.msg