extends layout

block content
    div.login-body
        div.login-content
            h1(class="login-title") Welcome to my blog
            form(method='POST' action='/log-in' class='login-form')
                label(for='username') Username:
                input#username.form-control(type='text', placeholder='mrMario00' name='username' required='true' value=(undefined===user? '' : user.username))
                label(for='password') Password:
                input#password.form-control(type='password', placeholder='mario26!' name='password' required='true')
                button.btn.btn-primary(type='submit') Log in
            a(href="/sign-up") If you don't already have an account, Sign up