extends layout

block content
    .post-delete-content
        h1 Do you really want to delete this Post? #{post.title}

        form(method='POST' action='')
            div.form-group
            input#postid.form-control(type='hidden',name='postid', required='true', value=post._id )

            button.btn.btn-primary(type='submit' class="delete-btn") Delete

