body{
  margin: 0px;
  background-color: #fef08a;
}

button{
  background-color: #fcd34d;
  border: none;
}

button:hover{
  cursor: pointer;
  border: 5px solid #f59e0b;
}

/*login page, signup page*/
.login-body,
.signup-body{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content,
.signup-content{
  height: 500px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-title,
.signup-title{
  font-size: 80px;
}

.login-form,
.signup-form{
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 30px;
}

button{
  grid-column: 2/3;
  width: 50%;
  height: 50px;
  font-size: 25px;
}

input{
  font-size: 20px;
}

a{
  font-size: 20px;
}

select{
  font-size: 20px;
}

/*homepage*/
.home-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.home-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-title{
  font-size: 60px;
}

.home-content button{
  width: 150px;
  height: 80px;
}

.home-buttons{
  display: flex;
  gap: 20px;
}


