body{
  margin: 0px;
  background-color: #fef08a;
}

button{
  background-color: #f59e0b;
  border: none;
}

button:hover{
  cursor: pointer;
  border: 5px solid #f97316;
}

/*login page, signup page*/
.login-body,
.signup-body{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content,
.signup-content{
  height: 500px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-title,
.signup-title{
  font-size: 80px;
}

.login-form,
.signup-form{
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 30px;
}

button{
  grid-column: 2/3;
  width: 50%;
  height: 50px;
  font-size: 25px;
}

input{
  font-size: 20px;
}

a{
  font-size: 20px;
}

select{
  font-size: 20px;
}

/*homepage*/
.home-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fde047;
}

.welcome-title{
  font-size: 60px;
}

.home-buttons button{
  width: 150px;
  height: 80px;
}

.post-div a{
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.post-div a:hover{
  color: #f97316;
}

.post-div {
  font-size: 30px;
}

.home-buttons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.post-div{
  height: 300px;
  width: 300px;
  border: 5px solid #f97316;
  padding: 30px;
}

.post-ul{
  margin-top: 40px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}


/*post form*/
.postform-title{
  font-size: 60px;
}

.post-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 30px;
  width: 20%;
}

.postform-content{
  margin-left: 60px;
}

textarea{
  font-size: 20px;
}

/*post detail*/
.post-title{
  font-size: 60px;
}

.post-detail-content{
  margin-left: 60px;
  width: 50%;
  font-size: 20px;
}

.post-text{
  font-size: 30px;
}

.post-detail-content button{
  width: 200px;
}

hr{
  border-color: #f97316;
}


/*post-delete*/
.post-delete-content{
  margin: 60px;
}

.delete-btn{
  width: 20%;
}

/*comment*/
.comment-form{
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  gap: 10px;
  font-size: 30px;
  width: 20%;
}

.comment-content{
  margin: 60px;
}

.comment-title{
  font-size: 40px;
}